//Colors
$bg-color: rgb(100, 159, 83);
$main-color: rgb(134, 204, 115);
$white: rgb(255, 255, 255);
$half-white: rgb(255, 255, 255, 0.8);

//Shadows
$shadow_xs: 0px 0px 15px rgba(0, 0, 0, 0.05);
$shadow_s: 0px 0px 20px rgba(0, 0, 0, 0.1);
